* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/sfondo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Ceviche One', cursive;
}

.display-none {
    display: none
}

.button {
    width: 200px;
    height: 60px;
    text-align: center;
    margin: 20px;
    color: #000;
    font-size: 50px;
    text-decoration: none;
    cursor: pointer;
    background: #d5d920;
    border-radius: 20px;
    border: 4px solid #000;
    line-height: 50px;
}

.button:hover {
    background: #000;
    font-size: 50px;
    text-decoration: none;
    cursor: pointer;
    color: #d5d920;
    border-radius: 20px;
    border: 4px solid #000;
    line-height: 50px;
}

main {
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main.horizontal {
    flex-direction: row;
}

main .title {
    position: relative;
    transition: all 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
    font-size: 80px;
}

main .container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: all 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
}

main .credit {
    background: #000;
    width: 800px;
    height: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 1000px;
    transition: all 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
}

main .credit .button{
    position: absolute;
    top: 20px;
    right: 20px;
}

.board {
    width: 720px;
    height: 720px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0px;
    transition: all 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.board .countdown{
    position: absolute;
    top: 0;
    left: 0;
    width: 740px;
    height: 720px;
    z-index: 9999;
    color: #d5d920;
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 2px 0px rgba(0, 0, 0, 1);
}

.sidebar {
    position: relative;
    background: url(../img/sidebar.png) no-repeat;
    background-size: cover;
    width: 240px;
    height: 720px;
    transition: all 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
    background-color: rgb(40, 40, 40);
}

.exit-btn {
    position: absolute;
    width: 65px;
    height: 67px;
    bottom: 45px;
    left: 20px;
    background: url(../img/exit_btn.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}

.exit-btn:hover {
    background: url(../img/exit_btn_hover.png) no-repeat;
}

.right-animation {
    right: 0px !important;
}

.left-animation {
    left: 0px !important;
}


.controls {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100px;
    bottom: 20px;
    justify-content: space-between;
    display: none;
    padding: 0 20px;
    align-items: center;
}

.controls .controls-sx-box{
    display: flex;
    flex-direction: column;
}

.controls .controls-dx-box{
    display: flex;
}

.controls div a{
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    margin: 2px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

main .credit .credit-name{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 26px;
}

@media all and (max-width: 990px) {
    body {
        height: auto;
    }

    main {
        flex-direction: column !important;
        justify-content: flex-start;
    }
    .controls {
        display: flex;
    }
    
}

@media all and (max-width: 721px) {
    body {
        overflow: hidden;
        background-position: top;
    }
    main .container {
        width: 100vw;
        height: 100vh;
    }
    .board {
        width: 100vw;
        height: 100vw;
    }    
    .sidebar{
        background: none;
        width: 100vw;
        height: 150px;
        background-size: cover;
    }


    .score-board{
        top: 10px !important;
        transform: rotate(0deg) !important;
        text-align: right !important;
        right: 20px !important;
        font-size: 30px !important;
    }

    .score-board::before{
        content: 'Points: ';
    }

    .exit-btn{
        position: relative;
        width: 50px;
        height: 50px;
        top: 0px;
        display: inline-block;
    }

    .exit-btn::after{
        position: absolute;
        content: 'exit';
        top:15px;
        left: 9px;
        text-shadow: 1px 1px #000;
    }

    .lives-board {
        top: 80px !important;
        transform: rotate(0deg)!important;
        right: 20px !important;
        left: auto !important;
        width: 100px !important;
    }

    .level-board {
        top: 40px !important;
        transform: rotate(0deg)!important;
        right: 20px !important;
        left: auto !important;
        width: 100px !important;
        color: #fff !important;
        font-size: 30px !important;
    }

    .dot-true::before {
        width: 3px !important;
        height: 3px !important;
        top: 5px !important;
        left: 6px !important;
    }

    .board .countdown{
        width: 100vw;
        height: 100vw;
        font-size: 80px;
    }
    .win_div{
        width: 240px !important;
        height: 240px !important;
        margin: -120px !important;
        margin-left: -120px !important;
    }

    #controls-up {
        background-image: url(../img/up-arrow.png);
        background-size: cover;
    }

    #controls-down {
        background-image: url(../img/up-arrow.png);
        background-size: cover;
        transform: rotate(180deg);
    }

    #controls-left {
        background-image: url(../img/up-arrow.png);
        background-size: cover;
        transform: rotate(-90deg);
    }

    #controls-right {
        background-image: url(../img/up-arrow.png);
        background-size: cover;
        transform: rotate(90deg);
    }

    main .credit {
        width: 100%;
        height: 100vh;
    }
}